package member

import (
	shared "bandcash/models/shared"
)

templ MemberIndex(data MembersData) {
	@shared.GroupLayout(shared.GroupLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         data.Signals,
		Content:         MemberIndexMain(data),
		ActiveUrl:       "/groups",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
		GroupId:         data.GroupID,
		Groups:          shared.GroupTabs(data.GroupID, "members"),
	})
}
