[tools]
air = "latest"
go = "latest"
sqlc = "1.30.0"
"github:pressly/goose" = "3.26.0"

[tasks]
dev = "air"
build = "go build -o tmp/server cmd/server/main.go"
start = "./tmp/server"
run = "go run ./cmd/server/main.go"
test = "go test -v ./..."
fmt = "go fmt ./..."
vet = "go vet ./..."
check = "mise run fmt && mise run vet && mise run test"
sqlc = "sqlc generate"
goose-up = "goose -dir internal/db/migrations sqlite3 ./sqlite.db up"
goose-status = "goose -dir internal/db/migrations sqlite3 ./sqlite.db status"
goose-create = "goose -dir internal/db/migrations create ${name} sql"
seed = "go run ./cmd/seed/main.go"
