[tools]
air = "1.64.5"
go = "1.26.0"
"go:github.com/a-h/templ/cmd/templ" = "v0.3.1001"
"go:github.com/sqlc-dev/sqlc/cmd/sqlc" = "v1.30.0"
"go:gotest.tools/gotestsum" = "v1.13.0"
"github:pressly/goose" = "3.26.0"
"github:axllent/mailpit" = "v1.27.8"
golangci-lint = "2.9.0"
ruby = "3.4.2"
"gem:kamal" = "2.10.1"

[tasks]
dev = "air"
build = "go build -o tmp/server cmd/server/main.go"
start = "./tmp/server"
run = "go run ./cmd/server/main.go"
routes = "go run ./cmd/server/main.go --routes"
test = "go test ./..."
test-pretty = "gotestsum --format testdox -- -count=1 ./..."
format = "go fmt ./..."
vet = "go vet ./..."
lint = "golangci-lint run"
lsp = 'gopls check -severity=hint $(git ls-files "*.go" ":!internal/db/*.go")'
check = "mise run format && mise run vet && mise run test"
templ = "templ generate -lazy"
sqlc = "sqlc generate"
goose-up = "goose -dir internal/db/migrations sqlite3 sqlite.db up"
goose-status = "goose -dir internal/db/migrations sqlite3 sqlite.db status"
goose-create = "goose -dir internal/db/migrations create ${name} sql"
seed = "go run ./cmd/seed/main.go"
mailpit = "mailpit --listen 0.0.0.0:8025 --smtp 0.0.0.0:1025"
check-versions = "go run ./cmd/checkversions"
kamal = "env -u GEM_HOME -u GEM_PATH mise exec gem:kamal@2.10.1 -- kamal"
deploy = "env -u GEM_HOME -u GEM_PATH mise exec gem:kamal@2.10.1 -- kamal deploy"
