package account

import (
	ctxi18n "github.com/invopop/ctxi18n/i18n"
)

templ LanguageMain(data AccountData) {
	@AccountSectionTitle(ctxi18n.T(ctx, "account.language"))
	@LanguageForm(data.CurrentLang)
}
