package account

import (
	shared "bandcash/models/shared"
	ctxi18n "github.com/invopop/ctxi18n/i18n"
)

templ AccountMain(data AccountData) {
	<h1>{ ctxi18n.T(ctx, "account.account") }</h1>
	@shared.Section(ctxi18n.T(ctx, "account.language"), LanguageForm(data.CurrentLang))
	if data.UserEmail != "" {
		@shared.Section(ctxi18n.T(ctx, "account.account"), AccountContent(data))
	}
}
