package account

import (
	shared "bandcash/models/shared"
	ctxi18n "github.com/invopop/ctxi18n/i18n"
)

templ AccountMain(data AccountData) {
	<header class="page-header">
		<h1>{ ctxi18n.T(ctx, "account.account") }</h1>
	</header>
	@shared.Section("", LanguageForm(data.CurrentLang))
	@shared.Section("", AccountContent(data))
}
