package account

import (
	shared "bandcash/models/shared"
)

templ AccountIndex(data AccountData) {
	@shared.BaseLayout(shared.BaseLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         data.Signals,
		Content:         AccountMain(data),
		ActiveUrl:       "/account",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
		TabSidebar:      shared.AccountSidebar(data.ActiveTab),
		TabToggleID:     "account",
	})
}
