package admin

import (
	ctxi18n "github.com/invopop/ctxi18n/i18n"
)

templ DashboardMain(data DashboardData) {
	<h1>{ ctxi18n.T(ctx, "admin.dashboard") }</h1>
	<div>
		if data.Tab == "flags" {
			@FlagsContent(data.SignupEnabled, data.PaymentsEnabled)
		} else if data.Tab == "users" {
			@UsersTableSection(data)
		} else if data.Tab == "groups" {
			@GroupsTableSection(data)
		} else if data.Tab == "sessions" {
			@SessionsTableSection(data)
		}
	</div>
}
