package admin

import (
	ctxi18n "github.com/invopop/ctxi18n/i18n"
)

templ FlagsContent(signupEnabled bool) {
	<div id="admin-flags" class="detail-box pb">
		<dl>
			<div>
				<dt>{ ctxi18n.T(ctx, "admin.flags.signup") }</dt>
				<dd>
					<input
						id="admin-signup-enabled"
						class="native-checkbox"
						type="checkbox"
						checked?={ signupEnabled }
						data-on:change="@post('/admin/flags/signup?value=' + (el.checked ? '1' : '0'))"
					/>
				</dd>
			</div>
		</dl>
	</div>
}
