package admin

import (
	shared "bandcash/models/shared"
)

templ AdminUsersPage(data DashboardData) {
	@shared.BaseLayout(shared.BaseLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         data.Signals,
		Content:         UsersTableSection(data),
		ActiveUrl:       "/admin/users",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
		TabSidebar:      shared.AdminTabs("users"),
		TabToggleID:     "admin",
	})
}
