# Copy this file to `.kamal/secrets` or `.kamal/secrets.staging` and edit.
# `.kamal/secrets` and `.kamal/secrets.staging` are ignored by git.

# 1Password account shorthand (see `op account list`).
OP_ACCOUNT=my.1password.com

# 1Password location in the form `vault/item`.
OP_ITEM=vault/item

SECRETS=$(kamal secrets fetch --adapter 1password --account "$OP_ACCOUNT" --from "$OP_ITEM" \
  KAMAL_REGISTRY_USERNAME \
  KAMAL_REGISTRY_PASSWORD \
  SUPERADMIN_EMAIL \
  SMTP_HOST \
  SMTP_PORT \
  EMAIL_FROM \
  SMTP_USERNAME \
  SMTP_PASSWORD \
  BETTER_STACK_URI \
  BETTER_STACK_SOURCE_TOKEN)

KAMAL_REGISTRY_USERNAME=$(kamal secrets extract KAMAL_REGISTRY_USERNAME "$SECRETS")
KAMAL_REGISTRY_PASSWORD=$(kamal secrets extract KAMAL_REGISTRY_PASSWORD "$SECRETS")
SUPERADMIN_EMAIL=$(kamal secrets extract SUPERADMIN_EMAIL "$SECRETS")
SMTP_HOST=$(kamal secrets extract SMTP_HOST "$SECRETS")
SMTP_PORT=$(kamal secrets extract SMTP_PORT "$SECRETS")
EMAIL_FROM=$(kamal secrets extract EMAIL_FROM "$SECRETS")
SMTP_USERNAME=$(kamal secrets extract SMTP_USERNAME "$SECRETS")
SMTP_PASSWORD=$(kamal secrets extract SMTP_PASSWORD "$SECRETS")
BETTER_STACK_URI=$(kamal secrets extract BETTER_STACK_URI "$SECRETS")
BETTER_STACK_SOURCE_TOKEN=$(kamal secrets extract BETTER_STACK_SOURCE_TOKEN "$SECRETS")
