package auth

import (
	shared "bandcash/models/shared"
)

templ LoginPage(data AuthPageData) {
	@shared.CommonLayout(shared.CommonLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         data.Signals,
		Content:         LoginMain(data.CurrentLang, "/login", data.SignupEnabled),
		ActiveUrl:       "/login",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
	})
}
