package auth

import (
	shared "bandcash/models/shared"
)

templ LoginPage(data AuthPageData) {
	@shared.BaseLayout(shared.BaseLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         data.Signals,
		Content:         shared.ThinContent(LoginMain(data.CurrentLang, "/login", data.SignupEnabled)),
		ActiveUrl:       "/login",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
	})
}
