@layer utilities {
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space);
  }

  .row-wrap {
    flex-wrap: wrap;
  }

  .row-right {
    justify-content: flex-end;
  }

  .row-center {
    justify-content: center;
  }

  .text-right {
    text-align: right;
  }

  .pb {
    padding-bottom: var(--space);
  }

  .pt {
    padding-top: var(--space);
  }

  .color-error {
    color: var(--error-color);
  }

  .w-fit {
    width: fit-content;
  }
}
