@layer utilities {
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space);
  }

  .row-wrap {
    flex-wrap: wrap;
  }

  .row-right {
    justify-content: flex-end;
  }

  .row-tight {
    gap: 0;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .items-center {
    align-items: center;
  }

  .text-right {
    text-align: right;
  }

  .text-sm {
    font-size: 0.875rem;
  }

  .input-sm {
    height: 2rem;
    padding: calc(var(--space) * 0.5) calc(var(--space) * 1.25);
  }

  .pb {
    padding-bottom: var(--space);
  }

  .pl {
    padding-left: var(--space);
  }

  .pr {
    padding-right: var(--space);
  }

  .color-error {
    color: var(--error-color);
  }

  .w-fit {
    width: fit-content;
  }

  .hide-tablet {
    @media (max-width: 780px) {
      display: none !important;
    }
  }

  .show-tablet {
    display: none !important;

    @media (max-width: 780px) {
      display: inline !important;
    }
  }

  .hide-mobile {
    @media (max-width: 680px) {
      display: none !important;
    }
  }

  .show-mobile {
    display: none !important;

    @media (max-width: 680px) {
      display: block !important;
    }
  }

  .show-drawer {
    display: none !important;

    @media (max-width: 1020px) {
      display: block !important;
    }
  }

  .flex-col-mobile {
    @media (max-width: 780px) {
      flex-direction: column !important;
    }
  }

  /* *:nth-child(2n) { */
  /*   outline: 1px solid lime; */
  /* } */
  /**/
  /* *:nth-child(2n + 1) { */
  /*   outline: 1px solid lightcoral; */
  /* } */
}
