package expense

import (
	shared "bandcash/models/shared"
)

templ ExpenseNewPage(data NewExpensePageData) {
	@shared.GroupLayout(shared.GroupLayoutProps{
		Title:  data.Title,
		Crumbs: data.Breadcrumbs,
		Signals:         data.Signals,
		Content:         ExpenseNewForm(data),
		ActiveUrl:       "/groups",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
		GroupId:         data.GroupID,
		Groups:          shared.GroupTabs(data.GroupID, "expenses"),
	})
}
