server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker-json-files
    static_configs:
      - targets: [localhost]
        labels:
          job: bandcash
          env: production
          host: bandcash
          __path__: /var/lib/docker/containers/*/*-json.log
    pipeline_stages:
      - docker: {}
