[sources.bandcash_json_logs]
type = "file"
include = ["/storage/logs/*.log"]
ignore_older_secs = 86400
read_from = "end"

[transforms.parse_bandcash_json]
type = "remap"
inputs = ["bandcash_json_logs"]
source = '''
parsed, err = parse_json(string!(.message))
if err == null && is_object(parsed) {
  . = parsed
} else {
  . = {"message": string!(.message)}
}

.app = "bandcash"
'''

[sinks.better_stack]
type = "http"
inputs = ["parse_bandcash_json"]
uri = "https://s1758045.eu-fsn-3.betterstackdata.com/"
method = "post"
compression = "gzip"
auth.strategy = "bearer"
auth.token = "${BETTER_STACK_SOURCE_TOKEN}"
encoding.codec = "json"
