package shared

import ctxi18n "github.com/invopop/ctxi18n/i18n"

templ HomeHeaderNav(isAuthenticated bool) {
	if isAuthenticated {
		@AppPrimaryNav("", true)
	} else {
		<a class="btn btn-primary btn-xs" href="/login">{ ctxi18n.T(ctx, "auth.sign_in") }</a>
	}
}
