package shared

import "bandcash/internal/utils"

templ AdminLayoutContent(id string, breadcrumbs []utils.Crumb, userEmail string, main templ.Component) {
	@GroupLayout(id, breadcrumbs, userEmail, AppPrimaryNav("", userEmail != ""), main)
}
