package shared

import "bandcash/internal/utils"

templ Header(crumbs []utils.Crumb, activeUrl string, isAuthenticated bool) {
	<header class="header">
		<div class="header_inner">
			@Breadcrumbs(crumbs)
			@AppPrimaryNav(activeUrl, isAuthenticated)
		</div>
	</header>
}
