package shared

import "bandcash/internal/utils"

templ AdminLayoutContent(id string, breadcrumbs []utils.Crumb, userEmail string, tabs templ.Component, main templ.Component) {
	<div id={ id } class="group">
		@tabs
		@main
	</div>
}
