package shared

import (
	"bandcash/internal/utils"
)

templ Notifications() {
	<div id="notifications-popover" class="notifications-popover">
		<ul class="notifications-list">
			for _, item := range utils.NotificationsFromContext(ctx) {
				<li id={ "notification-item-" + item.ID } class={ "notification notification-" + item.Kind } data-notification-id={ item.ID } data-created-at-ms={ item.Created.UnixMilli() }>
					<p>{ item.Message }</p>
				</li>
			}
		</ul>
	</div>
	@SureDialog()
}
