package shared

import (
	"fmt"
)

templ THCol(maxWRem int) {
	<th style={ fmt.Sprintf("--max-w: %drem", maxWRem) }>
		{ children... }
	</th>
}

templ THColFixed(maxWRem int, wRem int) {
	<th style={ fmt.Sprintf("--w: %drem", wRem) }>
		{ children... }
	</th>
}
