package shared

import ctxi18n "github.com/invopop/ctxi18n/i18n"

templ Badge(variant string) {
	if variant == "owner" {
		<span class="badge">{ ctxi18n.T(ctx, "groups.role_owner") }</span>
	} else if variant == "admin" {
		<span class="badge">{ ctxi18n.T(ctx, "groups.role_admin") }</span>
	} else if variant == "viewer" {
		<span class="badge">{ ctxi18n.T(ctx, "groups.role_viewer") }</span>
	} else {
		<span class="badge">{ variant }</span>
	}
}
