package shared

import (
	"fmt"
	"bandcash/internal/utils"
)

templ TableOpenFixed(layout utils.TableLayout, class string) {
	<div class="table-scroll">
		<table class={ "table table-fixed table-grid " + class } style={ fmt.Sprintf("--table-data-w-ch: %d; --table-actions-w-rem: %d; --table-grid-template: %s", layout.DataWidthCh, layout.ActionsWidthRem, layout.GridTemplate()) }>
			{ children... }
		</table>
	</div>
}
