package shared

type TabItem struct {
	Label    string
	Href     string
	IsActive bool
}

templ Tabs(ariaLabel string, items []TabItem) {
	<nav class="tabs" aria-label={ ariaLabel }>
		for _, item := range items {
			<a class={ "tab", templ.KV("tab-active", item.IsActive) } href={ item.Href }>{ item.Label }</a>
		}
	</nav>
}
