package shared

import "bandcash/internal/utils"

templ HomeLayoutContent(id string, breadcrumbs []utils.Crumb, userEmail string, currentLang string, langAction string, isAuthenticated bool, main templ.Component) {
	<div id={ id } class="homelayout">
		@Header(breadcrumbs, HomeHeaderNav(currentLang, langAction, isAuthenticated))
		<div class="homelayout_inner">
			<main id="app" class="home">
				@main
			</main>
			@Footer(userEmail)
		</div>
	</div>
}
