package shared

import (
	"bandcash/internal/utils"
)

templ LegalLayout(id string, title string, breadcrumbs []utils.Crumb, userEmail string, isAuthenticated bool, main templ.Component) {
	@HomeLayout(id, title, nil, breadcrumbs, userEmail, isAuthenticated, main)
}
