package shared

templ Section(title string, children templ.Component) {
	<section class="section">
		if title != "" {
			<header>
				<h2>{ title }</h2>
			</header>
		}
		<div>
			@children
		</div>
	</section>
}
