package shared

import (
	appi18n "bandcash/internal/i18n"
	"bandcash/internal/utils"
)

templ LegalLayout(id string, title string, breadcrumbs []utils.Crumb, userEmail string, isAuthenticated bool, main templ.Component) {
	@HomeLayout(id, title, nil, breadcrumbs, userEmail, appi18n.LocaleCode(ctx), "/", isAuthenticated, main)
}
