package shared

import (
	"bandcash/internal/utils"
)

templ TableOpenFixed(layout utils.TableLayout, class string) {
	<div class="table-scroll">
		<table class={ "table", class }>
			{ children... }
		</table>
	</div>
}
