package shared

import appi18n "bandcash/internal/i18n"

templ ErrorLayout(title string, main templ.Component) {
	<!DOCTYPE html>
	<html lang={ appi18n.LocaleCode(ctx) }>
		@Head(title)
		<body>
			<main id="app" class="error-page">
				@main
			</main>
		</body>
	</html>
}
