package shared

type DetailGridRow struct {
	Label string
	Value string
}

templ DetailGrid(rows []DetailGridRow) {
	<div class="detail-grid">
		for _, row := range rows {
			<div class="detail-row">
				<p class="detail-key">{ row.Label }</p>
				<p class="detail-val">{ row.Value }</p>
			</div>
		}
	</div>
}
