package shared

import icons "bandcash/models/shared/icons"

type ErrorPageData struct {
	Title      string
	StatusCode int
	IconName   icons.IconName
	Heading    string
	Message    string
	HomeLabel  string
	HomeHref   string
}

templ ErrorPage(data ErrorPageData) {
	@ErrorLayout(data.Title, ErrorPageMain(data))
}
