package home

import (
	shared "bandcash/models/shared"
)

templ HomePrivacyPolicy(data HomeData) {
	@shared.BaseLayout(shared.BaseLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         nil,
		Content:         shared.CommonContent(HomePrivacyPolicyMain(data.CurrentLang)),
		ActiveUrl:       "/privacy-policy",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
	})
}
