package home

import ctxi18n "github.com/invopop/ctxi18n/i18n"
import shared "bandcash/models/shared"

templ HomeTermsAndConditionsMain(currentLang string) {
	<section class="section">
		@shared.PageTitleWithLanguage(ctxi18n.T(ctx, "legal.terms_and_conditions"), "/terms-and-conditions", currentLang)
		@LegalPlaceholderBanner()
	</section>
}
