package home

import (
	shared "bandcash/models/shared"
)

templ HomePricing(data HomeData) {
	@shared.BaseLayout(shared.BaseLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         nil,
		Content:         shared.CommonContent(HomePricingMain(data.CurrentLang, data.UserID, data.UserEmail)),
		ActiveUrl:       "/pricing",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
	})
}
