package home

import ctxi18n "github.com/invopop/ctxi18n/i18n"
import shared "bandcash/models/shared"

templ HomeRefundPolicyMain(currentLang string) {
	<section class="section">
		@shared.PageTitleWithLanguage(ctxi18n.T(ctx, "legal.refund_policy"), "/refund-policy", currentLang)
		@LegalPlaceholderBanner()
	</section>
}
