package home

import (
	shared "bandcash/models/shared"
)

templ HomeTermsAndConditions(data HomeData) {
	@shared.CommonLayout(shared.CommonLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         nil,
		Content:         HomeTermsAndConditionsMain(data.CurrentLang),
		ActiveUrl:       "/terms-and-conditions",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
	})
}
