package home

import (
	shared "bandcash/models/shared"
)

templ HomeRefundPolicy(data HomeData) {
	@shared.CommonLayout(shared.CommonLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         nil,
		Content:         HomeRefundPolicyMain(data.CurrentLang),
		ActiveUrl:       "/refund-policy",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
	})
}
