package home

import (
	shared "bandcash/models/shared"
)

templ HomePricing(data HomeData) {
	@shared.LegalLayout("home-pricing", data.Title, data.Breadcrumbs, data.UserEmail, data.IsAuthenticated, HomePricingMain(data.CurrentLang))
}
