package home

import (
	shared "bandcash/models/shared"
)

templ HomeIndex(data HomeData) {
	@shared.CommonLayout(shared.CommonLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         nil,
		Content:         HomeIndexMain(data),
		ActiveUrl:       "/",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
	})
}
