package home

import (
	shared "bandcash/models/shared"
)

templ HomeIndex(data HomeData) {
	@shared.BaseLayout(shared.BaseLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         nil,
		Content:         shared.CommonContent(HomeIndexMain(data)),
		ActiveUrl:       "/",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
	})
}
