service: bandcash
image: peterszarvashu/bandcash

servers:
  - bandcash

proxy:
  host: bandcash.app
  app_port: 2222
  ssl: true
  healthcheck:
    path: /health
    interval: 3
    timeout: 5

registry:
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
  remote: ssh://peti@bandcash
  local: false

ssh:
  user: peti

volumes:
  - bandcash_data:/storage

env:
  secret:
    - APP_ENV
    - PORT
    - URL
    - DB_PATH
    - LOG_LEVEL
    - LOG_FOLDER
    - LOG_PREFIX
    - SUPERADMIN_EMAIL
    - DISABLE_RATE_LIMIT
    - SMTP_USERNAME
    - SMTP_PASSWORD
    - SMTP_HOST
    - SMTP_PORT
    - EMAIL_FROM

accessories:
  better-stack:
    service: better-stack
    image: timberio/vector:0.42.0-debian
    host: bandcash
    cmd: "--config /etc/vector/vector.toml"
    files:
      - config/observability/vector.toml:/etc/vector/vector.toml:ro
    directories:
      - better-stack-data:/var/lib/vector
    volumes:
      - bandcash_data:/storage:ro
    env:
      secret:
        - BETTER_STACK_URI
        - BETTER_STACK_SOURCE_TOKEN
