package dev

import (
	icons "bandcash/models/shared/icons"
)

templ ButtonVariantsContent(linkSelector string) {
	<div class="row row-wrap">
		<button class="btn" type="button">
			@icons.Plus(templ.Attributes{"class": "icon"})
			<span>Default</span>
		</button>
		<button class="btn btn-primary" type="button">
			@icons.Activity(templ.Attributes{"class": "icon"})
			<span>Primary</span>
		</button>
		<button class="btn btn-success" type="button">
			@icons.Check(templ.Attributes{"class": "icon"})
			<span>Success</span>
		</button>
		<button class="btn btn-warning" type="button">
			@icons.TriangleAlert(templ.Attributes{"class": "icon"})
			<span>Warning</span>
		</button>
		<button class="btn btn-danger" type="button">
			@icons.Trash2(templ.Attributes{"class": "icon"})
			<span>Danger</span>
		</button>
		<button class="btn btn-ghost" type="button">
			@icons.Info(templ.Attributes{"class": "icon"})
			<span>Ghost</span>
		</button>
		<button class="btn btn-active" type="button">
			@icons.Check(templ.Attributes{"class": "icon"})
			<span>Active</span>
		</button>
		<button class="btn btn-inactive" type="button">
			@icons.Icon(icons.IconCircleOff, templ.Attributes{"class": "icon"})
			<span>Inactive</span>
		</button>
		<button class="btn" type="button" disabled>
			@icons.X(templ.Attributes{"class": "icon"})
			<span>Disabled</span>
		</button>
	</div>
	<div class="row row-wrap">
		<button class="btn btn-sm" type="button">
			@icons.Plus(templ.Attributes{"class": "icon"})
			<span>Default</span>
		</button>
		<button class="btn btn-sm btn-primary" type="button">
			@icons.Activity(templ.Attributes{"class": "icon"})
			<span>Primary</span>
		</button>
		<button class="btn btn-sm btn-success" type="button">
			@icons.Check(templ.Attributes{"class": "icon"})
			<span>Success</span>
		</button>
		<button class="btn btn-sm btn-warning" type="button">
			@icons.TriangleAlert(templ.Attributes{"class": "icon"})
			<span>Warning</span>
		</button>
		<button class="btn btn-sm btn-danger" type="button">
			@icons.Trash2(templ.Attributes{"class": "icon"})
			<span>Danger</span>
		</button>
		<button class="btn btn-sm btn-success" type="button" disabled>
			@icons.X(templ.Attributes{"class": "icon"})
			<span>Disabled</span>
		</button>
	</div>
	<div class="row row-wrap">
		<button class="btn btn-xs" type="button">
			@icons.Plus(templ.Attributes{"class": "icon"})
			<span>Default</span>
		</button>
		<button class="btn btn-xs btn-primary" type="button">
			@icons.Activity(templ.Attributes{"class": "icon"})
			<span>Primary</span>
		</button>
		<button class="btn btn-xs btn-success" type="button">
			@icons.Check(templ.Attributes{"class": "icon"})
			<span>Success</span>
		</button>
		<button class="btn btn-xs btn-warning" type="button">
			@icons.TriangleAlert(templ.Attributes{"class": "icon"})
			<span>Warning</span>
		</button>
		<button class="btn btn-xs btn-danger" type="button">
			@icons.Trash2(templ.Attributes{"class": "icon"})
			<span>Danger</span>
		</button>
		<button class="btn btn-xs btn-success" type="button" disabled>
			@icons.X(templ.Attributes{"class": "icon"})
			<span>Disabled</span>
		</button>
	</div>
	<div class="row row-wrap">
		<button class="btn btn-icon" type="button" aria-label="Default icon" title="Default icon">
			@icons.Plus(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-primary btn-icon" type="button" aria-label="Primary icon" title="Primary icon">
			@icons.Activity(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-success btn-icon" type="button" aria-label="Success icon" title="Success icon">
			@icons.Check(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-warning btn-icon" type="button" aria-label="Warning icon" title="Warning icon">
			@icons.TriangleAlert(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-danger btn-icon" type="button" aria-label="Danger icon" title="Danger icon">
			@icons.Trash2(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-danger btn-icon" type="button" aria-label="Disabled icon" title="Disabled icon" disabled>
			@icons.X(templ.Attributes{"class": "icon"})
		</button>
	</div>
	<div class="row row-wrap">
		<button class="btn btn-sm btn-icon" type="button" aria-label="Small default icon" title="Small default icon">
			@icons.Plus(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-sm btn-primary btn-icon" type="button" aria-label="Small primary icon" title="Small primary icon">
			@icons.Activity(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-sm btn-success btn-icon" type="button" aria-label="Small success icon" title="Small success icon">
			@icons.Check(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-sm btn-warning btn-icon" type="button" aria-label="Small warning icon" title="Small warning icon">
			@icons.TriangleAlert(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-sm btn-danger btn-icon" type="button" aria-label="Small danger icon" title="Small danger icon">
			@icons.Trash2(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-sm btn-danger btn-icon" type="button" aria-label="Small disabled icon" title="Small disabled icon" disabled>
			@icons.X(templ.Attributes{"class": "icon"})
		</button>
	</div>
	<div class="row row-wrap">
		<button class="btn btn-xs btn-icon" type="button" aria-label="Extra small default icon" title="Extra small default icon">
			@icons.Plus(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-xs btn-primary btn-icon" type="button" aria-label="Extra small primary icon" title="Extra small primary icon">
			@icons.Activity(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-xs btn-success btn-icon" type="button" aria-label="Extra small success icon" title="Extra small success icon">
			@icons.Check(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-xs btn-warning btn-icon" type="button" aria-label="Extra small warning icon" title="Extra small warning icon">
			@icons.TriangleAlert(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-xs btn-danger btn-icon" type="button" aria-label="Extra small danger icon" title="Extra small danger icon">
			@icons.Trash2(templ.Attributes{"class": "icon"})
		</button>
		<button class="btn btn-xs btn-danger btn-icon" type="button" aria-label="Extra small disabled icon" title="Extra small disabled icon" disabled>
			@icons.X(templ.Attributes{"class": "icon"})
		</button>
	</div>
	<div class="row row-wrap">
		<button class="btn" type="button"><span>Default</span></button>
		<button class="btn btn-primary" type="button"><span>Primary</span></button>
		<button class="btn btn-success" type="button"><span>Success</span></button>
		<button class="btn btn-warning" type="button"><span>Warning</span></button>
		<button class="btn btn-danger" type="button"><span>Danger</span></button>
		<button class="btn" type="button" disabled><span>Disabled</span></button>
	</div>
	<div class="row row-wrap">
		<button class="btn btn-sm" type="button"><span>Default</span></button>
		<button class="btn btn-sm btn-primary" type="button"><span>Primary</span></button>
		<button class="btn btn-sm btn-success" type="button"><span>Success</span></button>
		<button class="btn btn-sm btn-warning" type="button"><span>Warning</span></button>
		<button class="btn btn-sm btn-danger" type="button"><span>Danger</span></button>
		<button class="btn btn-sm" type="button" disabled><span>Disabled</span></button>
	</div>
	<div class="row row-wrap">
		<button class="btn btn-xs" type="button"><span>Default</span></button>
		<button class="btn btn-xs btn-primary" type="button"><span>Primary</span></button>
		<button class="btn btn-xs btn-success" type="button"><span>Success</span></button>
		<button class="btn btn-xs btn-warning" type="button"><span>Warning</span></button>
		<button class="btn btn-xs btn-danger" type="button"><span>Danger</span></button>
		<button class="btn btn-xs" type="button" disabled><span>Disabled</span></button>
	</div>
}
