package dev

templ FormControlsContent() {
	<div class="row row-wrap">
		<input class="input w-half" type="text" placeholder="Input placeholder" value="Input value"/>
		<select class="input w-half">
			<option>Alpha</option>
			<option selected>Selected option</option>
			<option>Gamma</option>
		</select>
	</div>
	<div class="row row-wrap">
		<textarea class="input" rows="6">Textarea sample text</textarea>
	</div>
	<div class="row row-wrap">
		<input class="input w-half" type="text" placeholder="Disabled input" value="Disabled input" disabled/>
		<select class="input w-half" disabled>
			<option selected>Disabled select</option>
		</select>
	</div>
	<div class="row row-wrap">
		<textarea class="input" rows="6" disabled>Disabled textarea</textarea>
	</div>
	<div class="row row-wrap">
		<input class="input input-sm w-half" type="text" placeholder="Small input placeholder" value="Small input value"/>
		<select class="input input-sm w-half">
			<option>Small alpha</option>
			<option selected>Small selected option</option>
			<option>Small gamma</option>
		</select>
	</div>
	<div class="row row-wrap">
		<textarea class="input input-sm" rows="3">Small textarea sample text</textarea>
	</div>
	<div class="row row-wrap">
		<input class="input input-sm w-half" type="text" placeholder="Small disabled input" value="Small disabled input" disabled/>
		<select class="input input-sm w-half" disabled>
			<option selected>Small disabled select</option>
		</select>
	</div>
	<div class="row row-wrap">
		<textarea class="input input-sm" rows="3" disabled>Small disabled textarea</textarea>
	</div>
}
