package dev

templ ColorsContent() {
	<div class="grid">
		<div class="row items-center">
			<div style="width: 2.75rem; height: 2.75rem; border: var(--border) solid var(--bg-dark); background: var(--bg-dark);"></div>
			<span style="font-family: var(--font-mono);">--bg-dark</span>
		</div>
		<div class="row items-center">
			<div style="width: 2.75rem; height: 2.75rem; border: var(--border) solid var(--bg-dark); background: var(--bg);"></div>
			<span style="font-family: var(--font-mono);">--bg</span>
		</div>
		<div class="row items-center">
			<div style="width: 2.75rem; height: 2.75rem; border: var(--border) solid var(--bg-dark); background: var(--bg-light);"></div>
			<span style="font-family: var(--font-mono);">--bg-light</span>
		</div>
		<div class="row items-center">
			<div style="width: 2.75rem; height: 2.75rem; border: var(--border) solid var(--bg-dark); background: var(--text);"></div>
			<span style="font-family: var(--font-mono);">--text</span>
		</div>
		<div class="row items-center">
			<div style="width: 2.75rem; height: 2.75rem; border: var(--border) solid var(--bg-dark); background: var(--text-muted);"></div>
			<span style="font-family: var(--font-mono);">--text-muted</span>
		</div>
		<div class="row items-center">
			<div style="width: 2.75rem; height: 2.75rem; border: var(--border) solid var(--bg-dark); background: var(--bg-primary);"></div>
			<span style="font-family: var(--font-mono);">--bg-primary</span>
		</div>
		<div class="row items-center">
			<div style="width: 2.75rem; height: 2.75rem; border: var(--border) solid var(--bg-dark); background: var(--text-primary);"></div>
			<span style="font-family: var(--font-mono);">--text-primary</span>
		</div>
	</div>
}
