package dev

templ EmailPreviewMain(data EmailPreviewData) {
	<h1>{ data.Title }</h1>
	<div class="dev-mail-client">
		<div class="dev-mail-meta">
			<div><strong>From:</strong> { data.From }</div>
			<div><strong>To:</strong> { data.To }</div>
			<div><strong>Subject:</strong> { data.Subject }</div>
		</div>
		@templ.Raw(data.BodyHTML)
	</div>
}
