package dev

templ ErrorPagePreviewContent() {
	<div class="row row-wrap">
		<a class="btn" href="/dev/errors/link-invalid?lang=en" target="_blank" rel="noopener">Invalid link (EN)</a>
		<a class="btn" href="/dev/errors/400?lang=en" target="_blank" rel="noopener">400 page (EN)</a>
		<a class="btn" href="/dev/errors/403?lang=en" target="_blank" rel="noopener">403 page (EN)</a>
		<a class="btn" href="/dev/errors/404?lang=en" target="_blank" rel="noopener">404 page (EN)</a>
		<a class="btn" href="/dev/errors/500?lang=en" target="_blank" rel="noopener">500 page (EN)</a>
	</div>
	<div class="row row-wrap">
		<a class="btn" href="/dev/errors/link-invalid?lang=hu" target="_blank" rel="noopener">Invalid link (HU)</a>
		<a class="btn" href="/dev/errors/400?lang=hu" target="_blank" rel="noopener">400 page (HU)</a>
		<a class="btn" href="/dev/errors/403?lang=hu" target="_blank" rel="noopener">403 page (HU)</a>
		<a class="btn" href="/dev/errors/404?lang=hu" target="_blank" rel="noopener">404 page (HU)</a>
		<a class="btn" href="/dev/errors/500?lang=hu" target="_blank" rel="noopener">500 page (HU)</a>
	</div>
}
