package dev

type EmailPreviewData struct {
	Title    string
	From     string
	To       string
	Subject  string
	BodyHTML string
}

templ DevEmailPreviewPage(data EmailPreviewData) {
	@EmailPreviewLayout(data.Title, EmailPreviewMain(data))
}
