@layer base {
  :root {
    --space: 0.5rem;
    --border: 1px;
    --border-color: #ccc;
    --content-width: 60rem;
  }

  main#app {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: var(--space);
  }
}
