@layer components {
  .table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: var(--border) solid var(--border-color);
      padding: var(--space) calc(var(--space) * 2);
      text-align: left;
    }

    td:last-child {
      white-space: nowrap;
    }
  }

  .form {
    display: grid;
    gap: var(--space);

    > div {
      display: grid;
      gap: calc(var(--space) * 0.5);
    }

    input,
    select,
    textarea {
      field-sizing: fixed;
      width: 100%;
    }

    button {
      width: fit-content;
    }
  }
}
