@layer utilities {
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space);
  }

  .text-right {
    text-align: right;
  }

  .pb {
    padding-bottom: var(--space);
  }

  .pt {
    padding-top: var(--space);
  }
}
