package event

import (
	shared "bandcash/models/shared"
)

templ EventEditPage(data EventData) {
	@shared.BaseLayout(shared.BaseLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         data.Signals,
		Content:         EventEditMain(data),
		ActiveUrl:       "/groups",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
		TabSidebar:      shared.GroupSidebar(data.GroupID, "events"),
		TabToggleID:     data.GroupID,
	})
}
