package event

import (
	appi18n "bandcash/internal/i18n"
	"bandcash/internal/utils"
	shared "bandcash/models/shared"
)

templ EventIndex(data EventsData) {
	<!doctype html>
	<html lang={appi18n.LocaleCode(ctx)}>
		@shared.Head(data.Title)
		<body>
			<div data-signals={templ.JSONString(eventIndexSignals(utils.CSRFToken(ctx)))} data-init="@get('/sse')"></div>
			@shared.Notifications()
			@shared.TwoCol("event-index", EventIndexMain(data), EventIndexSidebar(data))
		</body>
	</html>
}
