{{define "edit"}}
<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body>
    <div
      data-signals="{view: '/payee/{{.Payee.ID}}/edit', formData: {name: '{{.Payee.Name}}', description: '{{.Payee.Description}}'}"
      data-init="@get('/sse')"
    ></div>
    {{block "app" .}}
    <main id="app">
      <h1>{{.Title}}</h1>
      {{template "breadcrumbs" .}}

      <form
        class="form"
        data-on:submit="@put('/payee/{{.Payee.ID}}')"
      >
        <div>
          <label>Name</label>
          <input
            type="text"
            data-bind="formData.name"
            required
          />
          <div data-show="$errors && $errors.name" class="color-error" data-text="$errors.name"></div>
        </div>
        <div>
          <label>Description</label>
          <textarea data-bind="formData.description" rows="3"></textarea>
          <div data-show="$errors && $errors.description" class="color-error" data-text="$errors.description"></div>
        </div>
        <div class="row">
          <button type="submit">Update Payee</button>
          <a href="/payee/{{.Payee.ID}}">Cancel</a>
        </div>
      </form>
    </main>
    {{end}}
  </body>
</html>
{{end}}
