{{define "show"}}
<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body>
    <main id="app">
      <h1>{{.Title}}</h1>
      <p><a href="/payee">&larr; Back to Payees</a></p>

      <div class="entry-details">
        <p><strong>Name:</strong> {{.Payee.Name}}</p>
        <p><strong>Description:</strong> {{.Payee.Description}}</p>
      </div>

      <p class="row">
        <a href="/payee/{{.Payee.ID}}/edit">Edit</a>
        <button
          data-on:click="@delete('/payee/{{.Payee.ID}}'); window.location.href='/payee'"
        >
          Delete
        </button>
      </p>
    </main>
  </body>
</html>
{{end}}
