package payee

import shared "bandcash/models/shared"

templ PayeeIndex(data PayeesData) {
	<!doctype html>
	<html lang="en">
		@shared.Head(data.Title)
		<body>
			<div data-signals={templ.JSONString(payeeIndexSignals())} data-init="@get('/sse')"></div>
			@shared.TwoCol("payee-index", PayeeIndexMain(data), PayeeIndexSidebar(data))
		</body>
	</html>
}
