package group

import (
	shared "bandcash/models/shared"
)

templ GroupUserEditPage(data UserEditPageData) {
	@shared.BaseLayout(shared.BaseLayoutProps{
		Title:  data.Title,
		Crumbs: data.Breadcrumbs,
		Signals:         data.Signals,
		Content:         GroupUserEditForm(data),
		ActiveUrl:       "/groups",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
		TabSidebar:      shared.GroupTabs(data.GroupID, "users"),
		TabToggleID:     data.GroupID,
	})
}
