package group

import (
	shared "bandcash/models/shared"
)

templ GroupsPage(data GroupsPageData) {
	@shared.CommonLayout(shared.CommonLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         data.Signals,
		Content:         GroupsMain(data),
		ActiveUrl:       "/groups",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
	})
}
