package group

import shared "bandcash/models/shared"

templ GroupsPage(data GroupsPageData) {
	@shared.BaseLayout(shared.BaseLayoutProps{
		Title:           data.Title,
		Crumbs:          data.Breadcrumbs,
		Signals:         data.Signals,
		Content:         shared.CommonContent(GroupsMain(data)),
		ActiveUrl:       "/groups",
		IsAuthenticated: data.IsAuthenticated,
		IsSuperAdmin:    data.IsSuperAdmin,
	})
}
