{{define "new"}}
<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body>
    <div
      data-signals="{formData: {title: '', time: '', description: '', amount: 0}}"
      data-init="@get('/sse')"
    ></div>
    {{block "entry-new" .}}
    <main id="app">
      <h1>{{.Title}}</h1>
      {{template "breadcrumbs" .}}

      <form
        class="form"
        data-on:submit="@post('/entry')"
      >
        <div class="form-row">
          <div class="field">
            <label>Title</label>
            <input type="text" data-bind="formData.title" />
            <div data-show="$errors && $errors.title" class="color-error" data-text="$errors.title"></div>
          </div>
          <div class="field">
            <label>Time</label>
            <input type="datetime-local" data-bind="formData.time" />
            <div data-show="$errors && $errors.time" class="color-error" data-text="$errors.time"></div>
          </div>
        </div>
        <div class="field">
          <label>Description</label>
          <textarea
            data-bind="formData.description"
            rows="3"
          ></textarea>
          <div data-show="$errors && $errors.description" class="color-error" data-text="$errors.description"></div>
        </div>
        <div class="field">
          <label>Amount</label>
          <input
            type="number"
            data-bind="formData.amount"
            step="1"
          />
          <div data-show="$errors && $errors.amount" class="color-error" data-text="$errors.amount"></div>
        </div>
        <div class="row">
          <button class="btn" type="submit">Create Entry</button>
          <a class="btn" href="/entry">Cancel</a>
        </div>
      </form>
    </main>
    {{end}}
  </body>
</html>
{{end}}
