package settings

import (
	shared "bandcash/models/shared"
)

templ LanguageForm(currentLang string) {
	<form class="form" data-on:change="@post('/settings/language')" data-indicator:_fetching>
		@shared.LanguageSelect("lang", currentLang, "_fetching")
	</form>
}
