package settings

import (
	shared "bandcash/models/shared"
)

templ LanguageForm(currentLang string) {
	<form class="form" data-on:change="@post('/settings/language')">
		@shared.LanguageSelect("lang", currentLang)
	</form>
}
